{% extends 'layout/base.html' %} {% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <img
          alt="profile-pic"
          width="180px"
          height="auto"
          style="border-radius: 20%;"
          src="https://res.cloudinary.com/dzj7pypng/image/upload/v1745941130/IMG_5158_hek9cc.jpg"
        />
        
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- <span class="home-name"><i class="fa-solid fa-user me-1"></i> Justin Brian Balano</span> 
          <br/>  -->
          <span class="email color-primary"><i class="fa-solid fa-envelope me-1"></i> jbbalano99@gmail.com </span>
           <br/> 
           <span class="phone color-primary"> <i class="fa-solid fa-phone me-1"></i> (+639) 6949 57724</span>
           <br/> 
           <span class="phone color-primary"> <i class="fa-solid fa-phone me-1"></i> (+974) 5599 3286</span>
          </div>
      </div>
    </div>
</div>
<div class="row my-4">
   <div class="col">
    <span class="color-primary bold"> {{current_age}} years</span> / <span class="color-primary bold"> male(he|him)</span> / <span class="color-primary bold"> Product Specialist</span>
    
   </div>
</div>
<div class="row my-4">
  <div class="col">
    <p>Hi, I am Justin and nickname is JB. Welcome to my website resume. I am currently working for Amadeus Qatar W.L.L. I am a hard working and dedicated person. My greatest strength would be my adaptability. I am confident that I am able to learn in a timely manner anything that is needed from me.</p>
   </div>
</div>

<div class="row my-4">
  <div class="col">
   <span class="color-primary bold"> <i class="fa-solid fa-briefcase me-1"></i>Work Exprerience</span> 
   <div class="row my-4">
    <div class="col">
     <span class="color-primary "> (2019-current) Amadeus Qatar W.L.L.: Product Specialist </span> 
    </div>
  </div>
 
  </div>
</div>

<div class="row my-4">
  <div class="col">
   <span class="color-primary bold"><i class="fa-solid fa-school me-1"></i> Academic Achievement</span> 
   <div class="row my-4">
    <div class="col">
     <span class="color-primary "> (2015-2019) Mapua University: BS Computer Science </span> 
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
     <span class="color-primary "> (2011-2015) Dole Philippines School: High School</span> 
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
     <span class="color-primary ">(2002-2011) Dole Philippines School: Elementary School </span> 
    </div>
  </div>
  </div>
</div>

<div class="row my-4">
  <div class="col">
   <span class="color-primary bold"><i class="fa-solid fa-award me-1"></i> Awards</span> 
   <div class="row my-4">
    <div class="col">
     <span class="color-primary "> (2015-2019) Mapua University: BS Computer Science </span> 
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
     <span class="color-primary "> (2011-2015) Dole Philippines School: High School</span> 
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
     <span class="color-primary ">(2002-2011) Dole Philippines School: Elementary School </span> 
    </div>
  </div>
  </div>
</div>

</div>
{% endblock %} {% block scripts %}{% endblock %}
